@charset "UTF-8";
	

html,body {
	background-color: #FFFFFF;
}

.head {
	position: relative;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background: #97C6EE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.head span {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.main {
	background-color: #FFFFFF;
}

.prog {
	position: relative;
	width: 50%;
	text-align: center;
	height: 70%;
	padding-top: 6%;
	padding-bottom: 8%;
	margin: auto;
}

.prog hr {
	position: absolute;
	width: 100%;
	height: 0px;
	
	top: 45%;
	
	border: 1px solid #AFAFAF;
}

.prog .pro1 {
	position: absolute;
	width: 190px;
	height: 29px;
	left: -6%;
	top: 35%;
	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.02em;
	
	color: #AFAFAF;
}

.prog .pro2 {
	position: absolute;
	width: 190px;
	height: 29px;
	left: 27%;
	top: 32%;
	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.1em;
	
	color: #3A91DA;
}

.prog .pro3 {
	position: absolute;
	width: 190px;
	height: 29px;
	left: 59%;
	top: 35%;
	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.02em;
	
	color: #AFAFAF;
}

.prog .pro4 {
	position: absolute;
	width: 190px;
	height: 29px;
	left: 93%;
	top: 35%;
	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.02em;
	
	color: #AFAFAF;
}

.prog .dot1 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 47%;
	border-radius: 50%;
	background: #AFAFAF;
}

.prog .dot2 {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 33%;
	top: 45%;
	border-radius: 50%;
	background: #97C6EE;
}

.prog .dot3 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 66%;
	top: 47%;
	border-radius: 50%;
	background: #AFAFAF;
}

.prog .dot4 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 100%;
	top: 47%;
	border-radius: 50%;
	background: #AFAFAF;
}

/* ------------------------------ */

.input {
	width: 65%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.input #title {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.05em;
	
	color: #000000;
	
}

.content {
	padding-top: 2.5%;
	
}

.content-file {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.content #sub {
	padding-top: 0%;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 5px;
	text-align: center;
	
	color: #C4C4C4;
}



#submit-btn {
	
	margin-top: 5%;
	width: inherit;
	padding: 2% 20% 2% 20%;
	background-color: #97C6EE;
	border: none;
	
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 33px;
	line-height: 48px;
	/* identical to box height */
	
	text-align: center;
	
	color: #FFFFFF;
}
