@charset "UTF-8";

html,body {
	background-color: #FFFFFF;
	font-family: Noto Sans KR;
}

.top {
	margin-top: 10%;
	margin-left: 7%;
	width: 50%;
	float: left;
}

.img {
	margin-top: 0%;
	margin-right: 40%;
	float: right;
}
.sub {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.02em;
	
	color: #000000;
}
.title {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	line-height: 145px;
	/* identical to box height */
	
	letter-spacing: -0.02em;
	
	color: #000000;
}

.faces {
	
}

.button {
}