@charset "UTF-8";


table {
	width: 90%;
	border: 1px solid #444444;
	border-collapse: collapse;
}

th {
	font-size: 11px;
	font-weight: bold;
}

th, td {
	border: 1px solid #444444;
	padding: 10px;
	text-align: center;
}
