@charset "UTF-8";

	

html,body {
	background-color: #FFFFFF;
}

.head {
	position: relative;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background: #97C6EE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.head span {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.main {
	background-color: #FFFFFF;
}

.progress {
	width: 60%;
	text-align: center;
	height: 30%;
	padding-top: 7%;
	padding-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

.progress hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #AFAFAF;
	z-index: 0;
}

.pro1 {
	position: absolute;
	color: #AFAFAF;
	left: 30%;
	top: 20%;
	display: inline-block;
	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.02em;
}

.pro2 {
	position: absolute;
	color: #3A91DA;
	left: 43%;
	top: 20%;
	display: inline-block;
	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.1em;
}

.pro3 {
	position: absolute;
	color: #AFAFAF;
	left: 54.7%;
	top: 20%;
	display: inline-block;
	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.02em;
}

.pro4 {
	position: absolute;
	color: #AFAFAF;
	left: 66.7%;
	top: 20%;
	display: inline-block;
	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.02em;
}

.dot1 {
	position: absolute;
	height: 1.6%;
	width: 1.1%;
	left: 31%;
	margin-top: 0.2%;
	border-radius: 50%;
	background-color: #AFAFAF;
	display: inline-block;
}

.dot2 {
	position: absolute;
	height: 2.8%;
	width: 2%;
	left: 43.5%;
	border-radius: 50%;
	background-color: #97C6EE;
	display: inline-block;
}

.dot3 {
	position: absolute;
	height: 1.6%;
	width: 1.1%;
	left: 56%;
	margin-top: 0.2%;
	border-radius: 50%;
	background-color: #AFAFAF;
	display: inline-block;
}

.dot4 {
	position: absolute;
	height: 1.6%;
	width: 1.1%;
	left: 67%;
	margin-top: 0.2%;
	border-radius: 50%;
	background-color: #AFAFAF;
	display: inline-block;
}

/* ------------------------------ */

.input {
	width: 65%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.input #title {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.05em;
	
	color: #000000;
	
}

.content {
	padding-top: 2.5%;
	
}

.content-text {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

label {
	padding-right: 1.5%;
	
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 34px;
	/* identical to box height */
	
	text-align: center;
	
	color: #000000;
}

#bookname, #bookauthor, #booktext {
	border: 2px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 0.5%;
	margin: 1%;
		
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 34px;
	/* identical to box height */
	
}

.content #sub {
	padding-top: 0%;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 5px;
	text-align: center;
	
	color: #C4C4C4;
}



#submit-btn {
	
	margin-top: 2%;
	width: inherit;
	padding: 2% 20% 2% 20%;
	background-color: #97C6EE;
	border: none;
	
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 33px;
	line-height: 48px;
	/* identical to box height */
	
	text-align: center;
	
	color: #FFFFFF;
}
