@charset "UTF-8";

	

html,body {
	background-color: #FFFFFF;
}

.head {
	position: relative;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background: #97C6EE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.head span {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.main {
	background-color: #FFFFFF;
}

.prog {
	width: 50%;
	margin-left: 24%;
	margin-top: 4%;
	margin-bottom: 3%;
	height: 10%;
}

/* ------------------------------ */

.input {
	width: 65%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.input #header {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.05em;
	
	color: #000000;
	
}

.content {
	padding-top: 2.5%;
	
}

.content-text {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

label {
	padding-right: 1.5%;
	
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 34px;
	/* identical to box height */
	
	text-align: center;
	
	color: #000000;
}

#title, #author, #mainTxt {
	border: 2px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 0.5%;
	margin: 1%;
		
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 34px;
	/* identical to box height */
	
}

.content #sub {
	padding-top: 0%;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 5px;
	text-align: center;
	
	color: #C4C4C4;
}



#submit-btn {
	
	margin-top: 2%;
	width: inherit;
	padding: 2% 20% 2% 20%;
	background-color: #97C6EE;
	border: none;
	
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 33px;
	line-height: 48px;
	/* identical to box height */
	
	text-align: center;
	
	color: #FFFFFF;
}
